<!DOCTYPE html>
<!-- comentario -->
<html xmlns:th="https://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body> 		 
		<div class="container-fluid ">
			<div class="row">
				<header data-th-replace="~{/layouts/header :: header}"></header>
			</div>

			
			<div class="row"> 
				<div class="col-3"> 
					<aside>
						<nav>
						    <ul>
						      <li><a href="https://www.fi.unju.edu.ar/" target="_blank">Biblioteca</a></li>
						      <li><a href="https://www.fi.unju.edu.ar/institucional/historia.html" target="_blank">Calendario Academico</a></li>
						      <li><a href="https://www.fi.unju.edu.ar/carreras/carrera-pregrado.html" target="_blank">Carreras</a></li>
						      <li><a href="https://virtual.unju.edu.ar/" target="_blank">UNJu Virtual</a></li>
						      <li><a href="https://www.fi.unju.edu.ar/institucional/reglamentos.html" target="_blank">Reglamentos</a></li>
						      <li><a href="https://becas.unju.edu.ar/" target="_blank">Becas</a></li>
						    </ul>
					  </nav>						
						</aside>	
				</div>
				
				<div class="col-9"> 
						<h2>Sobre la Facultad</h2>
						<p>La Universidad nace el 25 de mayo de 1972 como universidad provincial y al año siguiente se transforma en Universidad Nacional. Comienza a funcionar sobre la base de cuatro carreras: Ingeniería Agronómica, Ingeniería de Minas, Ingeniería Metalúrgica e Ingeniería Química. Su propósito fue apuntalar las actividades de explotación e industrialización de los recursos naturales de Jujuy. Las tres últimas carreras mencionadas pasan a constituir la actual Facultad de Ingeniería que, con el transcurso de los años, sumó a ellas un número importante de otras carreras.
						Las políticas de la Universidad Nacional de Jujuy, y especialmente de la Facultad de Ingeniería, tienden a ampliar el área de influencia y a fortalecer su acción institucional, en respuesta a la demanda social creciente de formación de recursos humanos que contribuyan al desarrollo científico, tecnológico y cultural.
						En la actualidad, las particularidades geopolíticas del área de influencia de la Facultad le otorgan una importante proyección internacional; proyección nacida tanto por el impacto regional producido por la globalización y en particular por los acuerdos suscriptos por nuestro país en el marco del Mercosur, como por la habilitación de nuevos pasos fronterizos en la provincia los cuales la integran regionalmente mediante el corredor bioceánico. Esta realidad permite que Jujuy pase de ser una provincia muy alejada de los puertos argentinos a otra que está sobre la línea de unión entre los puertos comerciales del norte de Chile con los de Brasil. Por ende, de disponer como única salida comercial el puerto de Buenos Aires a 1700 km, ahora está a tan sólo 700 km del de Antofagasta (Chile). Todo ello constituye a la vez una oportunidad y un desafío para la economía regional, y en consecuencia para la Facultad.  </p>
						<h2> Noticias Recientes</h2>
						<h3> Campaña de vacunación UNJu 2024</h3>
						<p>El día 29 de mayo del corriente, en el Aula Pelayo Pena de la Escuela de Minas "Dr. Horacio Carrillo" de la UNJu, se realizará una Jornada de Vacunación destinada a Estudiantes, Personal Docentes y No Docente de la Universidad Nacional de Jujuy, en el horario de 09:00 a 15:30 horas.</p>				
						<h3>Reflexiones del 2° Encuentro de la Diplomatura en Formación Integral del Líder y Estrategias de Conducción Consciente</h3>
						<p>El segundo encuentro de la Diplomatura tuvo lugar el viernes pasado en la Facultad de Ingeniería de la UNJu y fue dirigido por el Lic. Roggero Fabián Lino de la Fundación Logosófica de la sede central en la provincia de Buenos Aires y la Esp. Mercadal Irma Noemi (sede Jujuy), con la participación de la Coord. Gral C.P. De Zan Silvia Margarita y el C.P Calizaya Elias Martin. La temática de formación se enmarcó en el desarrollo del liderazgo consciente, dirigido a los estudiantes de las carreras de Ingeniería Industrial, Minas, Informática, Química y Licenciatura en Ciencias Geológicas, como materia optativa o selectiva según la denominación del plan de estudios. Además, estuvo estructurada para interesados externos en cursarla como diplomatura.</p>
						<h3>Curso de posgrado "Fisicoquímica" | Especialización en Enseñanza de las Cs. Exactas y Naturales</h3>
						<p>Curso de Posgrado "Fisicoquímica"
		
						La inscripción al curso se realiza completando el siguiente <a href=https://docs.google.com/forms/d/1uRMG2iAZZ_5PqNQyakkRO-Vyt4ux7CZ_U6xm3HvKIhk/edit>formulario. </a>
						
						Una vez hecha la inscripción se debe realizar el pago mediante transferencia al siguiente alias: COOPERADORA.FACULTAD (todo con mayúsculas y separadas por un punto).
						
						La inscripción y el pago se deben realizar antes del inicio del curso, es decir hasta el jueves 6/6/2024 a las 20:00 h.
						Asimismo, informamos que la facturación puede demorar alrededor de 15 días.</p>
										<h3>CADI - CAEDI | Reunión Informativa IngeniaVoz 24/05 16:30hs</h3>
										<p>El Comité Organizador del CADI-CAEDI 2024 invita a los/as estudiantes a la convocatoria de la propuesta “IngeniaVoz”, espacio creado para ellos en el marco del CADI-CAEDI 2024.  Es la primera vez que se cuenta con un espacio sólo para estudiantes. 
						
						La misma propone que los/as estudiantes puedan participar de forma activa mediante una presentación oral breve, estructurada y dinámica sobre temas que pueden ser muy variados, desde tecnología y ciencia hasta arte y cultura, todos ellos que tengan algún vínculo con la ingeniería, de esta forma se busca impactar, inspirar y/o enseñar a la audiencia.
						
						Para ello contarán con un entrenamiento, previo al congreso y 100% a distancia, con expertas en habilidades comunicacionales.  Esta preparación está prevista para los meses de junio y agosto.
						
						Las inscripciones a IngeniaVoz estarán abiertas hasta el 06/06/2024.
						
						Con la finalidad de ampliar información y despejar dudas, daremos una videoconferencia el viernes 24/05 a las 16:30hs.</p>
										<h3>52° Aniversario de la Facultad de Ingeniería de la UNJu</h3>
										<p> ¡52° Aniversario de nuestra querida Facultad de Ingeniería!
						
						Y lo festeja con una riquísima chocolatada, mañana viernes 24 de mayo a las 10.00 hs en el patio de Decanato 
						
						¡Quedan todos invitados!</p>
				</div>
			</div>			
		</div>
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		<!-- incorparar javascript -->
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>	
</html>