<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		<footer th:fragment="footer">
			<div>
			<p>Informacion de Contacto</p>
			<ul>
				<li>Ítalo Palanca Nº 10 </li>
				<li>San Salvador de Jujuy - Jujuy - Argentina </li>
				<li>info@fi.unju.edu.ar</li>
			</ul>
			<p>Redes Sociales</p>
			<ul>
				<li><a href="https://www.facebook.com/fiunju/">Facebook</a></li>
				<li><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">YouTube</a></li>
				<li><a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">Linkedin</a></li>
				<li><a href="https://www.instagram.com/fiunju/">Instagram</a></li>
			</ul>
			<p>Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</p>
			</div>
		</footer>
	</body>
</html>