<!DOCTYPE html>  
<html xmlns:th="http://www.tymeleaf.org" lang="es">
	<head th:fragment="head"> <!-- conformada por fragmento de th, al fragmento puedo darle cualquier nombre, deps deb vincular-->
		<meta charset="UTF-8"> 
		<!-- <title data-th-text="${titulo})"></title> l titulo va a variar, valor dinamico , lo qe envio desde controladores-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"> 
		<link rel= "stylesheet" href="css\estilos.css">
	</head>
	
	<body>
		<header  th:fragment="header">
			<img alt="imagen no disponible" src="images/logo.jpg">
			<h1>Facultad de Ingenieria  UNJu</h1><br>
			<p>"Siendo proactivos, responsables de nuestro propio destino"</p>
			<div class="row">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
				    <div class="container-fluid">
				       <div class="collapse navbar-collapse" id="navbarNav">
				        <ul class="navbar-nav">
				          <li class="navbar-nav mx-auto justify-content-center">
				            <a class="nav-link" href="https://www.fi.unju.edu.ar/" target="_blank">Inicio</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="https://www.fi.unju.edu.ar/institucional/historia.html" target="_blank">Acerca de</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="https://www.fi.unju.edu.ar/carreras/carrera-pregrado.html" target="_blank">Carreras</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="https://www.fi.unju.edu.ar/alumnos-noticias.html" target="_blank">Noticias</a>
				          </li>
				          <li class="nav-item">
				            <a class="nav-link" href="https://www.fi.unju.edu.ar/servicios/telefonos.html" target="_blank">Contacto</a>
				          </li>
				        </ul>
				      </div>
				    </div>
				  </nav>
			</div>
		</header>

	</body>
</html>